/* CSS Document */
*
{
margin:0px;
padding:0px;
}
.container
{
width:1000px;
height:1347px;
background-color:#FFFFFF;
margin-left:150px;
}
.header
{
margin-left:30px;
margin-top:10px;
width:1000px;
height:60px;
}
.menu1
{
position:absolute;
width:60px;
height:30px;
padding:10px;
border-radius:10px 0px;
margin-top:15px;
margin-left:5px;
background-color:#CCCCCC;
}
.menu1:hover
{
text-decoration:none;
color:#FFFFFF;
border-radius:0px 10px;
background-color:#000000;
}
.menu2
{
position:absolute;
width:60px;
height:30px;
padding:10px;
border-radius:10px 0px;
margin-top:15px;
margin-left:90px;
background-color:#CCCCCC;
}
.menu2:hover
{
text-decoration:none;
color:#FFFFFF;
border-radius:0px 10px;
background-color:#000000;
}
.menu3
{
position:absolute;
width:80sspx;
height:30px;
padding:10px;
border-radius:10px 0px;
margin-top:15px;
margin-left:175px;
background-color:#CCCCCC;
}
.menu3:hover
{
text-decoration:none;
color:#FFFFFF;
border-radius:0px 10px;
background-color:#000000;
}
.menu4
{
position:absolute;
width:80px;
height:30px;
padding:10px;
border-radius:10px 0px;
margin-top:15px;
margin-left:273px;
background-color:#CCCCCC;
}
.menu4:hover
{
text-decoration:none;
color:#FFFFFF;
border-radius:0px 10px;
background-color:#000000;
}
.menu5
{
position:absolute;
width:80px;
height:30px;
padding:10px;
border-radius:10px 0px;
margin-top:15px;
margin-left:380px;
background-color:#CCCCCC;
}
.menu5:hover
{
text-decoration:none;
color:#FFFFFF;
border-radius:0px 10px;
background-color:#000000;
}
.main
{
position:absolute;
margin-left:170px;
width:1200px;
height:840px;
 
}
.ifrm
{
margin-top:0px;
background-color:#FFFFFF;

}
.main1
{
background-color:#FFFFFF;
width:700px;
height:400px;

}
.main2
{
margin-top:-400px;
background-color:#FFFFFF;
width:300px;
height:400px;
margin-left:710px;

}
.para
{
font-family:"Times New Roman", Times, serif;
width:500px;
color:#FFFFFF;
}
.footer
{
	position:absolute;
	width:1000px;
	height:200px;
	left: 151px;
	background-image:url('images (1).jpg');
	top: 1110px;
}
.f1
{
color:#FFFFFF;
position:absolute;
margin-left:20px;
margin-top:30px;
width:100px;
height:200px;
}
.f2
{
color:#FFFFFF;
position:absolute;
margin-left:330px;

width:100px;
height:200px;
}
.f3
{
color:#FFFFFF;
position:absolute;
margin-left:650px;

width:100px;
height:200px;
}
.cop
{
color:#FFFFFF;
	margin-top:197px;
	position:absolute;
	background-color:#0066CC;
	width:1000px;
	height:40px;
	left: 151px;
	top: 1112px;
}



 






































































/
